.hero {
  width: 100vw;
  height: 16.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-banner {
  width: 49.9375rem;
  height: 13.25rem;
  gap: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-txt-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-txt {
  color: var(--color-white);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
