.albums-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
}

.albums-brand {
  color: var(--color-white);
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.btn {
  color: var(--Primary-400, #34c94b);
  text-align: right;
  font-family: Poppins;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;
}
