.container {
  width: 773px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 0px, 0px, 10px, 10px;
  border: 1px;
  background-color: var(--color-black);
  color: var(--color-white);
  z-index: 2;
  position: absolute;
  padding: 12px 15px 20px 15px;
  border: 1px solid #34c94b;
  animation: increaseHeight 0.5s ease;
  overflow: hidden;
}

.menu {
  width: 743px;
  height: 420px;
  border-radius: 0px, 0px, 10px, 10px;
  border: 1px;
  border: Mixed solid #ffffff;
  overflow: hidden;
}

.menu-item {
  width: 727px;
  height: 71px;
  border-radius: 10px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  border: 5px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.media {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.img {
  width: 66px !important;
  height: 71px !important;
  border-radius: 10px;
  border: 5px solid #1d1d1d;
}

.title {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.sub-title {
  font-family: Poppins;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0px;
  text-align: left;
  color: #d8d8d8;
}

.follows {
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: right;
}

@keyframes increaseHeight {
  0% {
    height: 0;
  }
  100% {
    height: 455px;
  }
}
