:root {
  --color-primary: #34c94b;
  --color-black: #121212;
  --color-white: #ffffff;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--color-black);
  overflow-x: hidden;
}

.swiper-slide {
  width: auto;
}

@media (max-width: 1150px) {
  body {
    display: flex;
    width: 100%;
    overflow: scroll;
  }

  .swiper-wrapper {
    width: 100vw !important;
  }
}
